@import url("inteligent-form.css");

#app {
  font:14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color:#4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color:orange;
}

nav {
  padding-top:20px;
}

.rainbowColor {
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.textInput {
  display: inline;
  width: 150px;
}
